################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ConvMVVM/.vs/ConvMVVM/v17
/ConvMVVM/.vs/ConvMVVM
/ConvMVVM/ConvMVVM.Core/bin
/ConvMVVM/ConvMVVM.Core/obj
/ConvMVVM2/.vs/ConvMVVM2
/ConvMVVM2/ConvMVVM2.Core/bin/x64
/ConvMVVM2/ConvMVVM2.Core/obj
/ConvMVVM2/Lib.Test/bin
/ConvMVVM2/Lib.Test/obj
/ConvMVVM2/ConvMVVM2.WPF/bin
/ConvMVVM2/ConvMVVM2.WPF/obj
/ConvMVVM2/.vs/ProjectEvaluation
/ConvMVVM2/Test.WPF/bin/x64
/ConvMVVM2/Test.WPF/obj/Debug/net8.0-windows
/ConvMVVM2/Test.WPF/obj/Release/net8.0-windows
/ConvMVVM2/Test.WPF/obj/x64
/ConvMVVM2/Test.WPF/obj
/ConvMVVM2/Test.WPFModule/obj
/ConvMVVM2/Test.ModuleA/bin
/ConvMVVM2/Test.ModuleA/obj
/ConvMVVM2/ConvMVVM2.Core/bin
/Examples/ExampleSolution/.vs/ExampleSolution
/Examples/ExampleSolution/HostTemplate/obj
/ExampleSolution/.vs/ExampleSolution/v17
/Examples/ExampleSolution/HostTemplate/bin/x64/Debug/net9.0-windows
*.bak
/Examples/ExampleSolution/BootStrapperApp/obj/Debug/net9.0-windows
/Examples/ExampleSolution/BootStrapperApp/bin/x64/Debug/net9.0-windows
/Examples/ExampleSolution/BootStrapperApp/obj
/Examples/ExampleSolution/.vs/ProjectEvaluation
/ExampleSolution/BootStrapperApp/bin/x64/Debug/net9.0-windows
/ExampleSolution/BootStrapperApp/obj
/ExampleSolution/HostTemplate/bin/x64/Debug/net9.0-windows
/ExampleSolution/HostTemplate/obj
/ExampleSolution/.vs/ExampleSolution
/ExampleSolution/BootStrapperApp/bin/Debug/net9.0-windows
/.vs
